*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: black; 
  color: white;
}



#mySidenav { 
  display: flex;
  justify-content: center;
  
}

#mySidenav a {
  color:white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0 15px;
  list-style: none; 
  
}
.casestudy { 
  width: 500px; 
  height: 500px; 

} 

.casestudy img {
  width: 400px; 
  height: 300px;
} 

.row1 {
  display: flex; 
  justify-content: center;
} 

.row2 { 
  display: flex; 
  justify-content: center;
} 

.work {
  justify-content: center;
}
 

#mysidenav {
  display: flex; 
  color: white;

} 

#mysidenav a {
  text-decoration: none; 
  color: white;
}


.Footer { 

  width: 100%;

}